<!DOCTYPE html>

<html <%= htmlAttributes %>>
<head>
    <%- title %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%/* Add tags from Head (react-helmet) */%>
    <%- base %>
    <%- link %>
    <%- meta %>
    <%- noscript %>
    <%- script %>
    <%- style %>
    <%- title %>

    <script>
        window.__PRELOADED_STATE__ = <%- typeof preloadedState !== 'undefined' ? preloadedState : '{}' %>
    </script>

    <link rel="stylesheet" href="<%= cssBundleSrc %>">
</head>
<body <%= bodyAttributes %>>
    <div id="root"><%- typeof markup !== 'undefined' ? markup : undefined %></div><!-- React root -->

    <script src="<%= jsBundleSrc %>"></script>
</body>
</html>